<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/article.css" />
    <title><%= article.title %></title>
  </head>
  <body>
    <a href="/news"><h2>News App</h2></a>
    <div class="article-intro">
      <h4><%= article.writer %></h4>
      <a href="/<%= article.category %>"><%= article.category %> </a>

      <p><%= article.date.toLocaleDateString() %></p>
    </div>

    <h1><%= article.title %></h1>
    <p><%= article.content %></p>
  </body>
</html>
