<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/category.css" />
    <title><%= category %></title>
  </head>
  <body>
    <a href="/news" class="home-link"><h2>News App</h2></a>
    <h1><%= category %></h1>
    <div class="card-grid">
      <% articles.forEach(function(article) { %>
      <a href="/articles/<%= article._id %>" class="article-card-links">
        <div class="article-card">
          <img src="<%= article.imageFile %>" style="width: 300px" />
          <p><%= article.category %></p>
          <h3 class="title"><%= article.title %></h3>
          <p><%= article.description %></p>
          <p><%= article.writer %></p>
        </div></a
      >

      <% }) %>
    </div>
  </body>
</html>
