<%- include("header") -%>

<nav>
  <h1>News App</h1>
  <% categories.forEach(function(category){ %>
  <a href="<%= category%>"><%= category %></a>
  <% }) %>
  <a href="/new-article">New Article</a>
</nav>

<div class="card-grid">
  <% articles.forEach(function(article) { %>
  <a href="/articles/<%= article._id %>">
    <div class="article-card">
      <img src="<%= article.imageFile %>" style="width: 300px" />
      <p><%= article.category %></p>
      <h3><%= article.title %></h3>
      <p><%= article.description %></p>
      <p><%= article.writer %></p>
    </div></a
  >

  <% }) %>
</div>
<%- include("footer") %>
