<%- include("header") -%>

<h1>News App</h1>
<nav>
  <% categories.forEach(function(category){ %>
  <a href="<%= category%>"><%= category %></a>
  <% }) %>
  <a href="/">New Article</a>
</nav>

<div class="card-grid">
  <% articles.forEach(function(article) { %>
  <div class="article-card">
    <h3><%= article.title %></h3>
    <p>By: <%= article.writer %></p>
    <p><%= article.description %></p>
    <a href="/articles/<%= article.id %> ">Read more</a>
  </div>

  <% }) %>
</div>
<%- include("footer") %>
